./vendor/*
./images/*
./oauth/google/google-api-client/vendor/*
./oauth/google/google-api-client/composer.lock
./oauth/telegram/vendor/*
./oauth/telegram/vendor/composer.lock
./oauth/facebook/vendor/*
./oauth/facebook/vendor/composer.lock
./common/caches/*
./memberimg/*
./images
oauth/google/google-api-client/vendor/*
oauth/twitter/vendor/*
oauth/twitter/vendor
oauth/google/google-api-client/
oauth/facebook/vendor/*
common/caches/*

./vendor/*
./oauth/google/google-api-client/vendor/*
./oauth/facebook/vendor/*
./common/caches/*
data/games_list.json
data/coins.json
data/games.json
oauth/google/google-api-client/vendor
oauth/google/google-api-client/
oauth/facebook/vendor
common/caches

/phpseclib
/newJs
/newFonts
/newCss
/email
/download
/memberimg